# Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.log
*.pot
*.egg-info/
db.sqlite3
media

# React
node_modules/
/build/
.npm/
.npmrc
.yarn-cache
.env
.DS_Store

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
*.pyc
*.pyo
*.pyd
*.diff
*.patch
*.rej
*.swo
*.swp
*.vi
*.bak
*.class
*.suo
*.pdb
*.pyc
*.pyo
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.ncb
*.sdf
*.suo
*.pdb
*.idb
*.DS_Store
*.user
*.userosscache
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc